*{
  box-sizing: border-box;
  margin: 0 ;
  padding: 0 ;
} 

 body{
  padding: 0px;
  font-family: inter, sans-serif;
  margin-bottom: 60px;
  background-color: #282c34;
  color: aliceblue;
  border: solid green 1px;
  /*To pin footer to the bottom we set the minimum height of the body to be
  atleast total height - height of the footer*/
  min-height: calc(100vh - 60px);
}

html{
  position: relative;
  border: solid yellow 1px;
}

.App {
  text-align: center;
  /* background-image: url("https://raw.githubusercontent.com/facebook/react/25837acfee5f5305d49fe19649e010dbf4f887a2/packages/react-devtools-extensions/icons/128-deadcode.png"); */
}

.main{
  border : solid red 1px;
  height: 100%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.navbar{
  background-color: #191b1f;
  padding: 0px;
  margin: 0px;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}
.nav-items{
  list-style: none;
  display: flex;
  border: solid blue 1px;
}

.nav-items>li{
  padding: 10px;
  border: solid red 1px;
  display: flex;
  align-items: center;
  font-weight: 500;
  
}

.nav-items > h3{
  margin: 0px;
  display: flex;
  border: solid red 1px;
  align-items: center;
  margin-right : auto; 
}

.nav-items > img{
  height : 50px;
  margin-right: 7px;
  border: solid red 1px;
}


.Footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: grey;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
