*{
  box-sizing: border-box;
  margin: 0 ;
  padding: 0 ;
  /* border: solid red 1px; */
} 

 body{
  padding: 0px;
  font-family: inter, sans-serif;
  margin-bottom: 64px;
  background-size: 10%;
  color: aliceblue;
  border: solid red 1px;
  /*To pin footer to the bottom we set the minimum height of the body to be
  atleast total height - height of the footer*/
  min-height: calc(100vh - 60px);
}

html{
  position: relative;
  max-width: 317px;
  margin: auto;
  background-color: #282c34;
  border: blue solid 1px;
}

.App {
  text-align: center;
}

.main{
  height: 100%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.navbar{
  background-color: #191b1f;
  padding: 0px;
  margin: 0px;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}
.nav-items{
  list-style: none;
  display: flex;
}

.nav-items>li{
  padding: 10px;
  display: flex;
  align-items: center;
  font-weight: 500;
  
}

.nav-items > h3{
  margin: 0px;
  display: flex;
  align-items: center;
  margin-right : auto; 
}

.nav-items > img{
  height : 50px;
  margin-right: 7px;
}


.Footer{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 64px;
  background-color: rgb(18, 18, 18);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#info-image{
  width: 317px;
  height: 317px;
  object-fit: cover;
  overflow: hidden;
}

#info-profession{
  color:rgb(187, 154, 33);
  font-weight: 500;
  margin-top: 10px;
}

#info-website{
  display: block;
  margin-top: 20px;
  color: white;
  text-decoration: none;
}

.Footer > a{
  color: darkgrey;
}

.footer-icon{
  height: 40px;
  width: auto;
  padding: 0px 10px 0px 10px;
}