*{
  box-sizing: border-box;
  margin: 0 ;
  padding: 0 ;
} 

html{
  position: relative;
  max-width: 317px;
  margin: auto;
  background-color: #2d3033;
}

 body{
  font-family: inter, sans-serif;
  margin-bottom: 64px;
  color: aliceblue;
  background-color: #1b2028;
  /*To pin footer to the bottom we set the minimum height of the body to be
  atleast total height - height of the footer*/
  min-height: calc(100vh - 60px);
}

.App {
  text-align: center;
}

.main{
  height: 100%;
}

.Footer{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 64px;
  background-color: rgb(18, 18, 18);
}

#info-image{
  width: 317px;
  height: 317px;
  object-fit: cover;
  overflow: hidden;
}

#info-profession{
  color:rgb(187, 154, 33);
  font-weight: 500;
  margin-top: 10px;
}

#info-website{
  display: block;
  margin-top: 20px;
  color: white;
  font-size: small;
  font-weight: 200;
  text-decoration: none;
}

.Footer > a{
  color: darkgrey;
}

.footer-icon{
  height: 40px;
  width: auto;
  padding: 0px 10px 0px 10px;
}

.info-btn{
  margin: 10px 5px 10px 5px;
  width: 130px;
  height: 40px;
  font-size: 18px ;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-btn:hover{
  background-color: #c5c8ca;
  cursor:pointer;
}

#info-linkedin-btn{
  background-color: #0E76AE;
  color: whitesmoke;
}

#info-linkedin-btn:hover{
  background-color: #0f608b;
  cursor:pointer;
}


.btn-icon{
  height: 25px;
  width: auto;
}

.btn-container{
  display: flex;
  justify-content: center;
}
